
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-left: 120px;
    color: #4E47FF;
    font-size: 34px;
    font-weight: bolder;
}
.btn{
    margin-right: 120px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16;
    font-weight: bold;
}
.hvr:hover{
    padding: 13px 40px;
    background-color: burlywood;
}
header{
    max-width: 1440px;
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    background-position: center;
    margin: 0px auto;
}
.header-title{
    margin: 280px 267px 152px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
}
.press{
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    color: #FFFFFF;
    font-weight: bold;

    
}
.press-btn{
    
     text-align: center;
     margin-bottom: 152px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.action{
    margin-top: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-description{
    font-size: 24px;
    color: #25243283;
}
.action-title{
    font-size: 42px;
}
.action-img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}
.launch{
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 12px 36px;
}
.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    margin-top: 116px;
    background-color: #4d47ff1d;
    padding: 50px 80px;
    border-radius: 24px;
}
.user-heading{
    text-align: center;
}
.actions{
    font-size: 80px;
    color: #4E47FF;
}    
.users-feedback{
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 137px;
    margin-bottom: 137px;

}
.feed-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 24px;
}
.review{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(242, 237, 237, 1);
    border-color: rgba(242, 237, 237, 1);
    border-radius: 14px;
    padding: 24px;
    box-shadow: 2px 2px 2px rgba(203, 170, 234, 0.548);

}
.review:hover{
    background-color: aqua;
}
.image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.reviewer-info{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.view-title{
    font-size: 24px;
    font-weight: 600;
    color:#1E1E1E;
}
.view-detail{
    font-size: 18px;
    font-weight: 400;
    color: #1E1E1E;
}
.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.reviewer-date{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
    margin-top: 0px;
}
.review-image{
    width: 40px;
    height: 40px; 
    border: solid white;
    border-radius: 9999px;
    display: flex;
    background-color: white; 
    overflow: hidden;
    margin-right: 12px;
}

.dot{
     border-radius: 10px;
    margin-left: 475px;
    margin-bottom: 20px;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.focus-img{
    margin-left: 150px;
    border-radius: 48px;
}
.focus{
    max-width: 1140px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}
.focus-sub-title{
    color: #0000007a;
}
.touch-container{
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
    align-items: center;
}
input[type="text"], input[type="email"],textarea{
    height: 50px;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    width: 75%;
    
}
.touch-title{
    width: 50%;
    font-size: 87px;
}
.touch-form{
    width:40%;
}
.touch-btn{
    padding: 19px 101px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 19px;
}
.end{
    text-align: center;
    padding: 104px 455px 103px 456px;
    background-color: whitesmoke;
}
.end ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 48px;
}
.end ul li a{
    text-decoration: none;
    color: black;
}
.end-logo{
    color: #4E47FF;
    font-size: 100px;
}
.end-description{
    color: #8987A1;
    
}
